---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.post-link {
  display: block;
  @include relative-font-size(1.65);
}

.post-title {
  @include relative-font-size(1.5);
  letter-spacing: -1px;
  line-height: 1;
}

img.img-circle {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
  border: 0px;
  vertical-align: text-bottom; 
}

