{% extends "base.html" %}
{% block content %}
  <div class="home">
    <ul class="post-list">
      {% for page in section.pages %}
        <li>
          {% if page.date %}
            <span class="post-meta">{{ page.date | date(format="%b %-d, %Y") }}</span>
          {% endif %}

          <h2>
            <a class="post-link" href="{{ page.permalink }}">{{ page.title }}</a>
          </h2>
        </li>
      {% endfor %}
    </ul>

    <p class="rss-subscribe">subscribe <a href="/rss.xml">via RSS</a></p>
  </div>
{% endblock %}
